In [42]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
url = 'https://raw.githubusercontent.com/JordanJaner/deep_learning_challenge/main/Resources/charity_data.csv'
application_df = pd.read_csv(url)
application_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [43]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns = ['EIN'])

In [44]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [45]:
# Look at NAME counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [46]:
# Choose a cutoff value and create a list of names_replace to be replaced
countsA = application_df['NAME'].value_counts()
names_replace = list(countsA[countsA<5].index)

In [47]:
# Choose a cutoff value and create a list of names_replace to be replaced
names_replace = list(countsA[countsA<5].index)

In [48]:
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [49]:
# Look at APPLICATION TYPE counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [50]:
# Choose a cutoff value and create a list of application types to be replaced
counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [51]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [52]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [53]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsclassification = countsbinning[countsbinning>1]

In [54]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list (countsbinning[countsbinning<100].index)

In [55]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [56]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [57]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [58]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [59]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [60]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 3171

 dense_4 (Dense)             (None, 14)                112

 dense_5 (Dense)             (None, 1)                 15

=================================================================
Total params: 3298 (12.88 KB)
Trainable params: 3298 (12.88 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [61]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [62]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7349 - val_loss: 0.4650 - val_accuracy: 0.7896
Epoch 2/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4540 - accuracy: 0.7861 - val_loss: 0.4382 - val_accuracy: 0.7963
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4351 - accuracy: 0.7918 - val_loss: 0.4341 - val_accuracy: 0.7911
Epoch 4/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4293 - accuracy: 0.7926 - val_loss: 0.4290 - val_accuracy: 0.7992
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4257 - accuracy: 0.7940 - val_loss: 0.4330 - val_accuracy: 0.7945
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4248 - accuracy: 0.7955 - val_loss: 0.4299 - val_accuracy: 0.7989
Epoch 7/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4234 - accuracy: 0.7968 - val_loss: 0.4271 - val_accuracy: 0.8031
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4225 - accuracy: 0.7968 - val_loss: 0.4289 - val_accuracy: 0.7974
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.7968 - val_loss: 0.4305 - val_accuracy: 0.7981
Epoch 10/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4212 - accuracy: 0.7979 - val_loss: 0.4306 - val_accuracy: 0.7984
Epoch 11/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4202 - accuracy: 0.7978 - val_loss: 0.4308 - val_accuracy: 0.7994
Epoch 12/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4199 - accuracy: 0.7982 - val_loss: 0.4310 - val_accuracy: 0.7979
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.7987 - val_loss: 0.4339 - val_accuracy: 0.7987
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.7983 - val_loss: 0.4308 - val_accuracy: 0.8005
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4188 - accuracy: 0.7984 - val_loss: 0.4319 - val_accuracy: 0.7994
Epoch 16/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4183 - accuracy: 0.7995 - val_loss: 0.4325 - val_accuracy: 0.7966
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4180 - accuracy: 0.7989 - val_loss: 0.4336 - val_accuracy: 0.7997
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4177 - accuracy: 0.7998 - val_loss: 0.4344 - val_accuracy: 0.7976
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4172 - accuracy: 0.7995 - val_loss: 0.4342 - val_accuracy: 0.7994
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4172 - accuracy: 0.8007 - val_loss: 0.4349 - val_accuracy: 0.7979
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4169 - accuracy: 0.8012 - val_loss: 0.4355 - val_accuracy: 0.7976
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4166 - accuracy: 0.8000 - val_loss: 0.4353 - val_accuracy: 0.7968
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4161 - accuracy: 0.8009 - val_loss: 0.4354 - val_accuracy: 0.7989
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4163 - accuracy: 0.8005 - val_loss: 0.4353 - val_accuracy: 0.7994
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4159 - accuracy: 0.8005 - val_loss: 0.4351 - val_accuracy: 0.7979
Epoch 26/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4157 - accuracy: 0.8005 - val_loss: 0.4358 - val_accuracy: 0.7981
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4159 - accuracy: 0.8015 - val_loss: 0.4352 - val_accuracy: 0.7971
Epoch 28/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4153 - accuracy: 0.8016 - val_loss: 0.4369 - val_accuracy: 0.7979
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4150 - accuracy: 0.8011 - val_loss: 0.4371 - val_accuracy: 0.7999
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4146 - accuracy: 0.8012 - val_loss: 0.4361 - val_accuracy: 0.8002
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4151 - accuracy: 0.8012 - val_loss: 0.4379 - val_accuracy: 0.7997
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8020 - val_loss: 0.4365 - val_accuracy: 0.7994
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4148 - accuracy: 0.8016 - val_loss: 0.4362 - val_accuracy: 0.7992
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4144 - accuracy: 0.8019 - val_loss: 0.4352 - val_accuracy: 0.8005
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4142 - accuracy: 0.8024 - val_loss: 0.4374 - val_accuracy: 0.7989
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4142 - accuracy: 0.8025 - val_loss: 0.4375 - val_accuracy: 0.7971
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4142 - accuracy: 0.8026 - val_loss: 0.4370 - val_accuracy: 0.8015
Epoch 38/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4140 - accuracy: 0.8039 - val_loss: 0.4371 - val_accuracy: 0.8015
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4140 - accuracy: 0.8011 - val_loss: 0.4383 - val_accuracy: 0.7976
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4136 - accuracy: 0.8025 - val_loss: 0.4396 - val_accuracy: 0.7987
Epoch 41/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4139 - accuracy: 0.8023 - val_loss: 0.4417 - val_accuracy: 0.7984
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4137 - accuracy: 0.8021 - val_loss: 0.4368 - val_accuracy: 0.7992
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4136 - accuracy: 0.8028 - val_loss: 0.4390 - val_accuracy: 0.7999
Epoch 44/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4130 - accuracy: 0.8025 - val_loss: 0.4408 - val_accuracy: 0.7981
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4134 - accuracy: 0.8025 - val_loss: 0.4385 - val_accuracy: 0.7979
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4131 - accuracy: 0.8033 - val_loss: 0.4402 - val_accuracy: 0.7953
Epoch 47/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4129 - accuracy: 0.8034 - val_loss: 0.4394 - val_accuracy: 0.7971
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4128 - accuracy: 0.8021 - val_loss: 0.4414 - val_accuracy: 0.7966
Epoch 49/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4123 - accuracy: 0.8032 - val_loss: 0.4399 - val_accuracy: 0.7968
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4126 - accuracy: 0.8023 - val_loss: 0.4379 - val_accuracy: 0.7992
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4123 - accuracy: 0.8027 - val_loss: 0.4402 - val_accuracy: 0.7974
Epoch 52/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4120 - accuracy: 0.8033 - val_loss: 0.4390 - val_accuracy: 0.7999
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4117 - accuracy: 0.8038 - val_loss: 0.4406 - val_accuracy: 0.7966
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4115 - accuracy: 0.8047 - val_loss: 0.4404 - val_accuracy: 0.7976
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4114 - accuracy: 0.8037 - val_loss: 0.4431 - val_accuracy: 0.7919
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4117 - accuracy: 0.8036 - val_loss: 0.4413 - val_accuracy: 0.7953
Epoch 57/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4112 - accuracy: 0.8031 - val_loss: 0.4418 - val_accuracy: 0.7963
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4112 - accuracy: 0.8034 - val_loss: 0.4389 - val_accuracy: 0.7974
Epoch 59/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8050 - val_loss: 0.4403 - val_accuracy: 0.7974
Epoch 60/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4109 - accuracy: 0.8034 - val_loss: 0.4400 - val_accuracy: 0.7955
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4107 - accuracy: 0.8046 - val_loss: 0.4403 - val_accuracy: 0.7976
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4106 - accuracy: 0.8044 - val_loss: 0.4398 - val_accuracy: 0.7958
Epoch 63/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4105 - accuracy: 0.8038 - val_loss: 0.4407 - val_accuracy: 0.7976
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8037 - val_loss: 0.4407 - val_accuracy: 0.7976
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4104 - accuracy: 0.8041 - val_loss: 0.4409 - val_accuracy: 0.7974
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8050 - val_loss: 0.4412 - val_accuracy: 0.7992
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8042 - val_loss: 0.4421 - val_accuracy: 0.7994
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4105 - accuracy: 0.8039 - val_loss: 0.4413 - val_accuracy: 0.7984
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8040 - val_loss: 0.4417 - val_accuracy: 0.7958
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4099 - accuracy: 0.8043 - val_loss: 0.4410 - val_accuracy: 0.7961
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8050 - val_loss: 0.4387 - val_accuracy: 0.7992
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4099 - accuracy: 0.8038 - val_loss: 0.4405 - val_accuracy: 0.7989
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4098 - accuracy: 0.8044 - val_loss: 0.4404 - val_accuracy: 0.7961
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8042 - val_loss: 0.4406 - val_accuracy: 0.7968
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8046 - val_loss: 0.4428 - val_accuracy: 0.7950
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8048 - val_loss: 0.4426 - val_accuracy: 0.7961
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8040 - val_loss: 0.4427 - val_accuracy: 0.7942
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8043 - val_loss: 0.4414 - val_accuracy: 0.7937
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4087 - accuracy: 0.8043 - val_loss: 0.4419 - val_accuracy: 0.7958
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4090 - accuracy: 0.8043 - val_loss: 0.4406 - val_accuracy: 0.7976
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8038 - val_loss: 0.4429 - val_accuracy: 0.7932
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8050 - val_loss: 0.4418 - val_accuracy: 0.7953
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4085 - accuracy: 0.8048 - val_loss: 0.4422 - val_accuracy: 0.8015
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4086 - accuracy: 0.8042 - val_loss: 0.4425 - val_accuracy: 0.7976
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4082 - accuracy: 0.8051 - val_loss: 0.4406 - val_accuracy: 0.7987
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4082 - accuracy: 0.8062 - val_loss: 0.4401 - val_accuracy: 0.7994
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8066 - val_loss: 0.4397 - val_accuracy: 0.7987
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8057 - val_loss: 0.4402 - val_accuracy: 0.7966
Epoch 89/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4077 - accuracy: 0.8050 - val_loss: 0.4414 - val_accuracy: 0.7984
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8056 - val_loss: 0.4423 - val_accuracy: 0.7984
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8053 - val_loss: 0.4424 - val_accuracy: 0.7976
Epoch 92/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4077 - accuracy: 0.8055 - val_loss: 0.4417 - val_accuracy: 0.7994
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4073 - accuracy: 0.8059 - val_loss: 0.4418 - val_accuracy: 0.8023
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8056 - val_loss: 0.4417 - val_accuracy: 0.7979
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4079 - accuracy: 0.8058 - val_loss: 0.4418 - val_accuracy: 0.7979
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8042 - val_loss: 0.4440 - val_accuracy: 0.7981
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4077 - accuracy: 0.8064 - val_loss: 0.4415 - val_accuracy: 0.7979
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8059 - val_loss: 0.4417 - val_accuracy: 0.8002
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4073 - accuracy: 0.8061 - val_loss: 0.4390 - val_accuracy: 0.8018
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4073 - accuracy: 0.8044 - val_loss: 0.4411 - val_accuracy: 0.7987

In [63]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4692 - accuracy: 0.7866 - 213ms/epoch - 795us/step
Loss: 0.46921801567077637, Accuracy: 0.7865889072418213

In [64]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\jhyan\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(